{% extends "base_layout.twig" %}

{% block content %}
    <h2>Ticket Purchase</h2>
    <body>
    <form name="formTicket" class="form-horizontal" method="POST" action="{{ prefix }}/cart/addToCart">
        <div class="control-group">
            <label class="control-label" for="cmbxZoneType">Zone Type</label>
            <div class="controls">
                <select id="cmbxZoneType" name="cmbxZoneType" onchange="calculateFare()" required>
                    {% for zone in zoneTypes %}
                        <option value="{{ zone.type|e }},{{ zone.price|e }}">{{ zone.type|e }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="cmbxTicketType">Ticket Type</label>
            <div class="controls">
                <select id="cmbxTicketType" name="cmbxTicketType" onchange="calculateFare()" required>
                    {% for ticketType in ticketTypes %}
                        <option value="{{ ticketType.name }},{{ ticketType.price }}">{{ ticketType.name|e }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="noOfTickets">No of Tickets</label>
            <div class="controls">
                <input class="input-mini" id="noOfTickets" type="number" min="0" max="20" value="0" name="noOfTickets" required/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="datepicker">Travel Date</label>
            <div class="controls">
                <input class="input-small datepicker" type="text" id="datepicker" name="travelDate" onfocus="calculateFare()" required/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="txtFare">Travel Fare</label>
            <div class="controls">
                <input class="input-medium" type="text" id="txtFare" name="travelFare" disabled="true"/>
            </div>
        </div>

        <div class="form-actions">
            <button class="btn btn-large btn-primary" id="btnSubmit" type="submit" onclick="calculateFare()">Add To Basket</button>
        </div>
    </form>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
    </body>
    <link rel="stylesheet" href="{{ prefix }}/assets/css/jquery-ui.css" />
    <script>
        $(function()
        {
            $('#btnSubmit').on('click', function()
            {
                $('#txtFare').removeAttr('disabled');
            });
        });

        $('.datepicker').datepicker
        ({
            format: 'mm-dd-yyyy'
        });
    </script>
    <script>
        function calculateFare()
        {
            var priceElement = document.getElementById("txtFare");
            var zoneElement = document.getElementById("cmbxZoneType").value.split(",");
            var ticketElement = document.getElementById("cmbxTicketType").value.split(",");
            var noOfTicketValue = document.getElementById("noOfTickets").value;

            priceElement.value = parseInt(zoneElement[1]) + parseInt(ticketElement[1]) * parseInt(noOfTicketValue);
        }
    </script>
{% endblock %}
