{% extends "base_layout.twig" %}
{% block content %}
    <h2> Print your ticket(s)</h2>
    {% for cartItem in cartItems %}
    <div id="container" class="containerTicket">
            <img src="{{ prefix }}/assets/images/Metroticket.jpg" class="img-polaroid">
            <h4 id="ticketDate" class="ticketDate">Travel Date: {{ cartItem.traveldate }}</h4>
            <h4 id="ticketZone" class="ticketZone">Travel Zone: {{ cartItem.zone }}</h4>
            <h4 id="ticketType" class="ticketType">Ticket Type: {{ cartItem.tickettype }}</h4>
            <h4 id="ticketPrice" class="ticketPrice">Travel Price: {{ cartItem.Amount }}</h4>
    </div>
    <br>
    {% endfor %}



{% endblock %}